.imagen img {
    width: 1000%;
    max-width: 1000px;
    height: auto;
    border-radius: 1500px;
}
#galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
